.message {
    width: 100%;
    text-align: center;
}

.instructionsHeader {
    background: cornflowerblue;
    padding: 5px 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.instructions {
    background: rgb(0, 0, 0, 0.9);
    border: 1px solid rgb(100, 149, 237);
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    text-align: left;
    max-width: 700px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1 );
}

.instructions p {
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

.sectorialList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.sectorial {
    width: 938px;
    background: rgba(100, 149, 237, 0.75);
    background: linear-gradient(90deg, rgba(100, 149, 237, 0.85), rgb(18, 57, 128, 0.85));
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightblue;
}

.sectorial:hover {
    background: rgba(100, 149, 237, 0.95);
    border-color: white;
    box-shadow: 0px 0px 8px cornflowerblue;
}

.name {
    font-size: 1.5em;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
    background-repeat: no-repeat;
}

.sectorial101 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/panoceania.svg);
}

.sectorial103 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/military-orders.svg);
}

.sectorial105 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/varuna.svg);
}

.sectorial106 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/winterfor.svg);
}

.sectorial201 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/yu-jing.svg);
}

.sectorial202 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/imperial-service.svg);
}

.sectorial204 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/invincible-army.svg);
}

.sectorial205 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/white-banner.svg);
}

.sectorial301 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ariadna.svg);
}

.sectorial304 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/usariadna.svg);
}

.sectorial305 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/tartary.svg);
}

.sectorial401 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/haqqislam.svg);
}

.sectorial402 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/hassassin-bahram.svg);
}

.sectorial404 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ramah-taskforce.svg);
}

.sectorial501 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/nomads.svg);
}

.sectorial502 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/corregidor.svg);
}

.sectorial503 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/bakunin.svg);
}

.sectorial504 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/tunguska.svg);
}

.sectorial601 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/combined-army.svg);
}

.sectorial602 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/morat.svg);
}

.sectorial603 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/shasvastii.svg);
}

.sectorial604 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/onyx.svg);
}

.sectorial701 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/aleph.svg);
}

.sectorial703 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/operations.svg);
}

.sectorial902 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/druze.svg);
}

.sectorial903 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/japanese-secessionist-army.svg);
}

.sectorial904 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ikari.svg);
}

.sectorial905 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/starco.svg);
}

.sectorial906 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/spiral-corps.svg);
}

.sectorial907 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/foreign-company.svg);
}

.sectorial908 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/dahshat.svg);
}

.sectorial1001 .logo {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/o-12.svg);
}



