.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameColumn {
    width: 175px;
    margin-left: 10px;
}

.gearColumn {
    width: 250px;
    margin-left: 5px;
    flex-grow: 1;
}

.meleeColumn {
    width: 150px;
    margin-left: 5px;
    flex-grow: 1;
}

.swcColumn,
.costColumn {
    width: 25px;
    text-align: center;
    margin-left: 5px;
}

.costColumn {
    margin-right: 10px;
}

.item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 9px;
    padding: 1px 5px;
    font-size: 11px;
    margin: 2px 0;
    margin-right: 3px;
    display: inline-block;
}

.item:last-child {
    margin-right: none;
}

.divider {
    background: none;
    padding: 1px 0;
}