.pane {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.pane:last-of-type {
    margin-left: 50px;
}

.wrapper {
    padding: 10px;
    border: 1px solid cornflowerblue;
    border-radius: 0 5px 5px 5px;
    margin: 0;
    background: rgba(0,0,0,0.95);
    align-self: flex-start;
}

.isc {
    padding: 5px;
    background: rgba(100, 149, 237, 0.5);
    border: 1px solid white;
    margin-bottom: 10px;
}

.notes {
    border: 1px solid rgba(100, 149, 237, 1);
    border-radius: 5px;
    font-size: 11px;
    padding: 5px;
    background: rgba(100, 149, 237, 0.5);
}

.notes > span {
    display: block;
    max-width: 670px;
}

.version {
    background: rgb(100 149 237 / 0.5);
    border: 1px solid rgba(100, 149, 237, 1);
    border-bottom: none;
    border-radius: 0px 5px 0 0;
    width: 100px;
    text-align: center;
    font-size: 14px;
}