.char1 {
    background-image: url('../img/char/cube.svg');
}

.char3 {
    background-image: url('../img/char/regular.svg');
}

.char4 {
    background-image: url('../img/char/irregular.svg');
}

.char6,
.char23 {
    background-image: url('../img/char/impetuous.svg');
}

.char7 {
    background-image: url('../img/char/frenzy.svg');
}

.char20 {
    background-image: url('../img/char/cube2.svg');
}

.char21 {
    background-image: url('../img/char/hackable.svg');
}

.char27 {
    background-image: url('../img/char/peripheral.svg');
}