.container {
    width: 100%;
}

.container__sectorial {
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.3);
}

.container__sectorial .faction-list {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container__sectorial .faction {
    width: 50px;
    height: 50px;
}

.faction-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
    transition: padding 0.1s ease-out;
}

.faction {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 1);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.1s ease-out;
}

.faction:hover {
    box-shadow: 0px 0px 8px cornflowerblue;
    opacity: 1;
}

.faction101 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/panoceania.svg);
}

.faction201 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/yu-jing.svg);
}

.faction301 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ariadna.svg);
}

.faction401 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/haqqislam.svg);
}

.faction501 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/nomads.svg);
}

.faction601 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/combined-army.svg);
}

.faction701 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/aleph.svg);
}

.faction901 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/non-aligned-armies.svg);
}

.faction1001 {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/o-12.svg);
}